<!--<div class="container col-sm-6">
  <nav>
    <button class="btn btn-primary" >Java</button>
    <a >Angular</a>
  </nav>
</div>-->

<app-header></app-header>

<div class="container col-sm-12" style="padding-top:90px;">
  <!--<h3 style="text-align:center;">Technology</h3>-->
  <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="width:100%;">
    <button type="button" class="btn btn-success" [routerLink]='["Java"]' routerLinkActive='active'>Java</button>
    <button type="button" class="btn btn-success" [routerLink]='["Web"]' routerLinkActive='active'>Web</button>
    <button type="button" class="btn btn-success" [routerLink]='["Angular"]' routerLinkActive='active'>Angular</button>

  </div>
</div>
<router-outlet></router-outlet>

<div class="container">
  <h2 style="padding:20px;">Feedback:</h2>
  <div class="card-deck">
    <div class="row">

      <!--<div class="col-sm-3">
    <div class="card">
      <img src="../assets/p5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">The course was very comprehensive and easy to understand. The instructors made sure that they are giving the information in a way that won't make me confused. Thank you so much for this great course!</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>-->
      <!--<div class="col-sm-3">
    <div class="card">
      <img src="../assets/p6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>-->

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/p5.jpg" alt="..." style="width:160px;height:160px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Glen Antonio</h5>
              <p class="card-text">This course has taught me a lot of techniques
              in searching information for my  academic researches.
              Thank you to all people behind this, especially to the professors in this course! </p>
            </div>
          </div>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/p9.jfif" alt="..." style="width:160px;height:160px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Dave Brian</h5>
              <p class="card-text">Extremely valuable for researching techniques. Teachers were outstanding.
              Lectures are to the point without drag-on. Many thanks for the quality of your efforts!</p>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/p4.jpg" alt="..." style="width:160px;height:160px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Roberto Joshua</h5>
              <p class="card-text">
                I really liked this course - it was short,
                useful and to the point. Would love to see a follow up on
                how to take notes of lectures, books and journal articles.
              </p>
            </div>
          </div>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../assets/p6.jpg" alt="..." style="width:160px;height:160px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Ethan Lewis</h5>
              <p class="card-text">The basic knowledge on doing academic research online
              covered in this course should truly be taught to every student.
              This course is worth taking.</p>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="col-sm-3">
      <div class="card">
        <img src="../assets/p3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="../assets/p4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>-->


    </div>
</div>
</div>
<br /><br /><br /><br /><br />
<app-footer></app-footer>
