<!--<app-employee></app-employee>-->
<!--<app-product></app-product>-->
<!--<ul>
  <li> <h3 style="padding-top:10px;color:#4CAF50;">DeveloperHub</h3></li>
  <li style="float:right"> <a routerLink='/ModelForm' routerLinkActive='active'>ModelForm</a></li>
  <li style="float:right"> <a routerLink='/Tech' routerLinkActive='active'>Technology</a></li>-->
<!--<li style="float:right"> <a routerLink='/Employee' routerLinkActive='active'>Employee</a></li>
<li style="float:right"> <a routerLink='/Product' routerLinkActive='active'>Product</a> </li>-->
<!--<li style="float:right"> <a routerLink='/Review' routerLinkActive='active'>Review</a> </li>
  <li style="float:right"> <a routerLink='/Form' routerLinkActive='active'>Form</a> </li>
  <li style="float:right"> <a routerLink='/Home' routerLinkActive='active'>Home</a></li>
  <li style="float:right"> <a routerLink='/Login' routerLinkActive='active'>Login</a></li>
</ul>-->
<!--<br /><br />-->
<!--<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>-->
<router-outlet></router-outlet>

<!--<div class="footer">
  <h5 style="padding-top:13px;">© 2021 Copyright, Designed with ❤️ by Amey</h5>
</div>-->
<!--<app-login></app-login>-->

<!--<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>-->
<!--<app-gateway></app-gateway>-->
<!--<router-outlet></router-outlet>-->
