
<app-header></app-header>
<div class="center" style="padding-top:90px;">
  <label>Search &nbsp;</label>
  <input type="text" name="Search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search by employee name..">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <label>Sort&nbsp;</label>
  <select [(ngModel)]='SortbyParam' style="padding:5px;border-radius:10px;background-color:lightblue;width:100px;">
    <option value="id">ID</option>
    <option value="name">Name</option>
    <option value="email">Email</option>
  </select>
  <!--<select [(ngModel)]='SortDirection'>
    <option value="asc">asc</option>
    <option value="desc">desc</option>
  </select>-->
  &nbsp;&nbsp;
  <button type="button" (click)="onSortDirection()" class="btn btn-primary">
    order
    <i *ngIf="SortDirection==='asc'" class="fas fa-arrow-up"></i>
    <i *ngIf="SortDirection==='desc'" class="fas fa-arrow-down"></i>
  </button>
</div>
<br />


<table class="center">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>CourseName</th>
    <th>Email</th>
    <th>Review</th>
    <th>Image</th>
  </tr>
  <tr *ngFor='let rev of reviews | search:{name:searchText} | sort:[SortbyParam,SortDirection]' appTabledir>
    <td>{{rev.id}}</td>
    <td>{{rev.name}}</td>
    <td>{{rev.courseName}}</td>
    <td>{{rev.email}}</td>
    <td>{{rev.review}}</td>
    <td><img [src]='rev.personImage' /></td>
  </tr>
</table>
<br />
<br />
<br />
<br />
<app-footer></app-footer>
